html {
  background-color: #171717;
  background-image: -webkit-linear-gradient(65deg, #DA0037 50%, #171717 50%);
  min-height: 100%;
  font-family: 'helvetica neue';
  margin-right: 0;
}

h1 {
  color: white;
  padding: 10px;
  font-size: 1.7rem;
}

h2 {
  color: white;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #DA0037;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffdfdf;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #DA0037;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: black;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #DA0037;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: black;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #DA0037;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
}

.about {
  color: white;
}